<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miqi.springbootdemo.mapper.StudentMapper">
    <resultMap id="studentMap" type="com.miqi.springbootdemo.domain.Student">
        <id column="s_id" property="id" javaType="int" />
        <result column="s_name" property="name" javaType="String"/>
    </resultMap>
    <select id="getStudentById" parameterType="int" resultMap="studentMap">
        SELECT * from student where s_id=#{id}
    </select>
    <select id="insertStudent" parameterType="com.miqi.springbootdemo.domain.Student">
        INSERT student values(#{id},#{name})
    </select>
</mapper>